.fullscreen-bg {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .fullscreen-bg__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(250, 250, 250); /* Adjust text color as needed */
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
  }
  